.kk48ble7 {
  text-align: center;
  align: center;
  border-bottom: 1px solid gray;
}
.successful::before {
  content: "Status: Successful";
  color: lightgreen;
}
.error::before {
  content: "Status: Error";
  color: red;
}
.other::before {
  content: "Status: Other/Unknown";
  color: gray;
}
.running::before {
  content: "Status: Running";
  color: #FFD700;
}
.test::before {
  content: "Test-";
}
.date::before {
  content: "created on ";
}
body {
  font-family: var(--font);
}
